<%if @comments != nil %>
  <h4 class="panel panel-info ">Responses</h4>
    <%@comments.each do |comment|%>
      <div class="inputgroup">
        <span class="col-sm-2"><i class="glyphicon glyphicon-user"></i></span>
        <div class="col-sm-10">
          <p style="font-size:10px;"><%=capital(comment.user.first_name)%></p>
          <p style="font-size:10px;"><i><%=comment.created_at%></i></p>
          <p style="font-size:15px;font-weight:bold;"><%= comment.content%></p>
          <%if can? :destroy,comment%>
          <%= link_to "Delete comment",[comment.article,comment],method: :delete%>
          <%end%>
          <%if can? :update,comment%>
          <%= link_to "Edit comment",edit_article_comment_path(comment.article,comment)%>
          <%end%>
        </div>
        <br/>
      </div>
    <%end%>
<%end%>
<%= render 'comments/form'%>
