
<body>
<div class="well">
    <h2> <%= capital(@article.title) %></h2><br/>
    <pre class=:text-justify>
    <%= @article.text %>
    </pre>
</div>

        <div class="btn-group btn-group-justified">
          <% if can? :update,@article %>
          <%= link_to "Edit",edit_article_path(@article),class:"btn btn-primary"%>
          <%end%>
          <% if can? :destroy,@article %>
          <%= link_to "Delete",article_path(@article),method: :delete,class:"btn btn-warning" ,data:{confirm:"Are you sure"}%>
          <%end%>
        </div>

    <%= render 'comments/comment'%>

<br>


</body>
