<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>

    .first_jumbo{
      background-color: grey;
      color:white;
    }
    .sjb{
    color:black;
      padding-top: 0px;

    }
    .cbtn{
      border:2px solid LightSlateGray;
    }
    .sbtn{
      margin-top: 25px;
      background-color: white;
      border:2px solid black;
      margin-left: 0px;
      color:black;
    }
    .sbtn:hover{
      background-color: black;
    }
    pre {
   font-size:20px;
   font-family: "Times New Roman", Times, serif;
    }
  </style>
  </head>
  <body >
      <%= render 'layouts/header'%>
      <% if notice %><p class="alert alert-info"><%= notice %></p><%end%>
      <div class="container">
          <%= yield %>
          <% if alert %><p class="alert alert-warning"><%= alert %></p><%end%>
      </div>
  </body>
</html>
